<div class = "container">
  <div id = "header">
    <h1>My Angular Application</h1>
  </div>
  <div id = "nav">
      <ul>
        <li><a routerLinkActive = "active" routerLink="/home">Home</a></li>
        <li><a routerLinkActive = "active"  routerLink="/login">Login</a></li>
        <li><a  routerLinkActive = "active" routerLink="/products">Products</a></li>
      </ul>
    </div>
  <div id = "content">
    <div id = "main">
      <app-student ></app-student>
      <h4> Main Body </h4>
      <router-outlet> </router-outlet>
    </div>
    <div id = "footer">
      <p>Copyright &copy; </p>
      <!–– <img src="assets/img/angular-logo.png">
    </div>
  </div>  
</div>
