<div class = "container">
  <div id = "header">
    <h1>My Angular Application</h1>
  </div>
  <div id = "nav">
    <ul>
      <li>Home</li>
      <li> List</li>
      <li>Home</li>

    </ul>
  </div>
  <div id = "body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nisi dolor, tempor nec dui eu, placerat tincidunt quam. Quisque faucibus lorem et tortor gravida, a laoreet leo tempus. Nullam quis nunc vel erat hendrerit tempor sagittis ac nulla. Nam ultrices neque sit amet massa iaculis laoreet.</p>
    <p>Nunc sagittis eu quam quis maximus. Integer gravida scelerisque augue eu volutpat. Praesent nisi sem, faucibus et scelerisque ac, lacinia eu dolor. Fusce in pharetra mauris. Nam dignissim erat vitae sem consectetur tempor. Sed non porta nisl. Vestibulum quis massa tellus.</p>
    <p>Nam dignissim erat vitae sem consectetur tempor. Sed non porta nisl. Vestibulum quis massa tellus.</p>
  </div>
  <div id = "footer">
    <p>Copyright &copy; </p>
     <img src="assets/img/angular-logo.png">
  </div>
</div>
