.container {
  background-color: #eee;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  padding: 5px;
}
#header {
  font-family: 'Times New Roman', Times, serif;
  background-color: lightblue;
  color: darkblack;
  text-align: center;
}
#footer {
  text-align: center;
  clear: both;
  background-color: #ddd
}
#nav ul {
  list-style-type: none;
}